body{
    background-color: beige;
}

.error{
    background-color: yellow;
}

.ui-menu {
    width: 200px;
}

#pie{
    position:absolute;
    bottom:0;
    width: 100%;
    text-align: center;
    background-color: black;
    color:white;
    padding: 3px 0;
    left: 0;
}